@charset "utf-8";
/* CSS Document */
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td,fieldset,figure{
	margin:0;
	padding:0;
} 
/* html{
	font-size:26.67vw;
} */
body{  
    font-family:"微软雅黑",Arial;
    background:url(../img/bgpic.png);
}
ul,ol{
	list-style:none;
}
img{
	border:0;
}
a{
	text-decoration:none;
}
/* 头部 */
header{
    width:100%;
    height:62px;
    overflow: hidden;
    border-bottom:1px solid #00b3ff;
    background: #002144;
}
.header_left,.header_right{
    width:30.88%;
    padding-top: 5px;
    float: left;
    background: url(../img/Head_leftpic.png) no-repeat;
    background-size: 100% 100%;        
}
.header_right{
    background: url(../img/Head_rightpic.png) no-repeat;      
}
.header_left h3,.header_right h3{
    width:89%;
    font-size: 22px;
    font-weight: 200;
    color:#04fff9;
    line-height: 56px;
    text-align: center;
}
.header_right h3{
    float:right;
}
header h2{
    width:38.24%;
    padding-top: 5px;
    line-height: 56px;
    text-align: center;
    font-size: 26px;
    color:#fff;
    float:left;
}
/* 当前大厅等候办理人数 */
.sec_one{
    /* height:173px; */
    width:100%;
    overflow: hidden;
    background: url(../img/img1.png) no-repeat bottom;
    background-size:100%;
    border-bottom:1px solid #00b3fe;
}
.sec_one_left{
    float: left;
    width:28.2%;
}
.sec_one_left h3{
    line-height: 18px;
    padding-top: 11px;
    padding-left:30px;
    padding-bottom: 6px;
    font-size: 18px;
    color:#05fef8;
    font-weight: 200;
}
.sec_one_left ul{
    overflow: hidden;
    padding-bottom: 24px;
}
.sec_one_left ul li{
    float:left;
    width:25%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    position: relative;  
}
.sec_one_left ul li img{
    position: absolute;
    top: 0px;
    left: 20px;
    width: 58%;
}
.sec_one_left ul li h4{
    font-size: 14px;
    line-height: 55px;
    color: #fff;
    text-align: center;
}
.sec_one_left ul li:nth-child(3) h4{
    color:#feff7d;
}
.sec_one_left ul li p{
    font-size: 12px;
    line-height: 12px;
    color:#01b2fe;
    padding-top: 5px;
    text-align: center;
}
.sec_one_left .right_tit{
    text-align: right;
    padding-left: 0px;
    padding-right: 26px;
}
.sec_one_middle{
    float: left;
    width:43.6%;
}
.sec_one_middle h3{
    font-size: 18px;
    color:#05fef6;
    font-weight: 200;
    line-height: 18px;
    text-align: center;
    padding-top: 22px;
}
.sec_one_middle .middle_bottom{
    overflow: hidden;
    margin-top: 4px;
}
.middle_bottom ul{
    overflow: hidden;
    float: left;
    width:33.3333%;
    box-sizing: border-box;
}
.middle_bottom ul:nth-child(2){
    padding-left: 44px;
    padding-right:42px;
}
.middle_bottom ul li{
    float:left;
    width:33.3333%;
    text-align: center;
}
.middle_bottom ul li h4{
    font-size: 20px;
    color:#fff;
    font-weight: 200;
    line-height: 20px;
    text-align: center;
    padding-bottom: 10px;
}
.middle_bottom ul li p{
    font-size: 12px;
    color:#01b2ff;
    line-height: 12px;
    text-align: center;
}
.middle_bottom ul li span{
    font-size: 36px;
    color:#feff01; 
    line-height: 46px;
}
/* 中部大图表 */
section{
    width:100%;
    overflow: hidden;
    margin-top: 6px;
}
.section_left{
    float:left;
    width:27.6%;
    padding-left: 5px;
    padding-right: 8px;
    box-sizing: border-box;
}
.section_left_con{
    /* height: 100%; */
}
.section_middle{
    float:left;
    width:44.8%;
    /* height:100%; */
}
.section_middle_con{
    height: 100%;
}
.section_right{
    float:left;
    width:27.6%;
    /* height:100%; */
    padding-left: 8px;
    padding-right: 5px;
    box-sizing: border-box;
}
.section_right_con{
    /* height: 100%; */

}
/* section_left_con */
.left_con_one{
    height: 240px;
    background: url(../img/img3.png) no-repeat;
    background-size: 100% 100%;
}
.title{
    font-size: 16px;
    color: #05fef8;
    padding-top: 14px;
    padding-left: 14px;
    line-height: 16px;
    margin-bottom: 40px;
}
.left_con_one ul{
    padding-bottom: 6px;
}
.left_con_one ul li{
    font-size:14px; 
    overflow: hidden;
    color:#fff;
    line-height:24px;
    padding-left: 26px;
    padding-bottom: 33px; 
}
.left_con_one ul li i{
    font-size:22px; 
    color:#f2f87a;
    float: right;
    padding-right: 19px;
}
.left_con_one ul li:nth-child(2) i{
    color:#ff7e00;
}
.left_con_one ul li:nth-child(3) i{
    color:#01b2ff;
}
.left_con_two{
    height:217px;
    margin-top: 11px; 
    padding-bottom: 10px;
    background: url(../img/img4.png) no-repeat;
    background-size: 100% 100%;
}
.left_con_two .title{
    padding-top:13px;
    margin-bottom: 8px;
}
.two_bottom{
    height:180px;
    width:99%;
    margin:0 auto;
}
.left_con_three{
    margin-top: 11px;
    padding-top: 3px;
    padding-left: 2px;
    padding-right: 3px;
    border:1px solid #00b3fe;
}
.three_title{
    font-size:16px;
    color:#05fdfc;
    line-height:16px;
    padding-top: 9px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background: #02549e;
}
.left_con_three ul{
    padding-left: 6px;
    padding-right: 8px;
}
.left_con_three ul li{
    font-size:14px;
    color:#fff;
    line-height:14px;
    padding-bottom: 8px;
    padding-left: 9px;
    padding-top: 15px;
    border-bottom: 1px dashed #cdcdcd;
}
.left_con_three ul li:last-child{
    border:0;
}
.left_con_three ul li a{
    display: inline-block;
    font-size:14px;
    color:#fff;
    float:right;
}
.left_con_three ul li span{
    display: inline-block;
    width:21px;
    height:21px;
    border-radius: 1px;
    background: #ff0305;
    font-size:14px;
    color:#fff;
    text-align: center;
    line-height: 21px;
    margin-right: 10px;
}
.left_con_three ul li:nth-child(2) span{
    background:#ffb109; 
}
.left_con_three ul li:nth-child(3) span{
    background: #19d1c5;
}
.left_con_three ul li:nth-child(4) span{
    background: #00b3fe;
}
.left_con_three ul li:nth-child(5) span{
    background:#6d3ef0; 
}
/* section_middle_con */
.middle_top{
    height:477px;
    margin-top:2px;
    background: url(../img/img5.png) no-repeat;
    background-size: 100% 100%;
}
.middle_top h3{
    font-size:16px;
    color:#05fffb;
    line-height: 16px;
    text-align: center;
    padding-top: 26px;
    padding-bottom: 20px;
}
.middle_top_chart{
    overflow: hidden;
    height:348px;
}
.chart_left{
    float: left;
    width:56%;
    /* height:100%; */
}
.chart_left_con{
    /* height:100%; */
    padding-left: 21px;
}
.chart_left_con .today{
    padding-top: 44px;
}
.chart_left_con .today h4{
    font-size:12px;
    color:#05f4f1;
    line-height: 12px;
    text-align: center;
}
.chart_left_con .today ul{
    overflow: hidden;
    padding-top: 28px;
}
.chart_left_con .today ul li{
    float: left;
    width:16.66667%;
    font-size:12px;
    color:#fefe00;
    line-height: 12px;
    text-align: center;
    background: url(../img/xian_img.png) no-repeat right 46px;
}
.chart_left_con .today ul li p{
    font-size:12px;
    color:#fff;
    line-height: 12px;
    padding-bottom: 32px;
    background: url(../img/xian_img.png) no-repeat right 0px;
}
.chart_left_con .today ul li:last-child{
    background: 0;
}
.chart_left_con .today ul li:last-child p{
    background: 0;
}
.chart_left_con .today:nth-child(2){
    padding-top: 75px;
}
.chart_right{
    float: left;
    width:44%;
    /* height:100%; */
    margin-top:13px;
}
.chart_right_con{
     padding-left: 37px;
}
.today_chart{
    height:110px;
    /* background: url("../img/img6.png") no-repeat; */
}
#myChart2{ 
     
}
.today_chart:nth-child(2){
    width: 100%;
    height: 166px;
    margin-top: 70px;
}
.today_chart:nth-child(2) img{
    top: -4px;
    left: -3px;
}
.middle_bottom{
    overflow: hidden;
    margin-top: 12px;
}
.middle_bottom_left{
    float:left;
    width:50%;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 5.5px;
    padding-bottom: 12px;
    background: url(../img/sanjiao.png) no-repeat 9px bottom;
}
.middle_bottom_right{
    float:left;
    width:50%;
    padding-right: 8px;
    padding-left: 5.5px;
    box-sizing: border-box;
    padding-bottom: 12px;
    background: url(../img/sanjiao2.png) no-repeat 97% bottom;
}
.bottom_left_con,.bottom_right_con{
    border:1px solid #00b3fe;
}
.bottom_left_con h4,.bottom_right_con h4{
    font-size: 14px;
    color:#02d6d7;
    line-height:14px;
    padding-top: 9px;
    padding-bottom: 12px;
    background: #001c4e;
    text-align: center;
    border-bottom:1px solid #00b3fe;
}
.bottom_left_char{
    height:226px;
}
/* section_right_con */
.right_con_one,.right_con_two{
    border:1px solid #00b3fe;
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 2px;
}
.con_bottom_chart{
    height:198px;
    overflow: hidden;
}
.con_bottom_chart li{
    float: left;
    box-sizing: border-box;
}
.con_bottom_chart li:nth-child(1){
    width:30%;
}
.con_bottom_chart li:nth-child(2){
    width:43%;
}
.con_bottom_chart li:nth-child(3){
    width:27%;
}
.first_li{
    padding-top: 36px;
}
.first_li p{
    font-size: 12px;
    color: #f6f5fa;
    line-height: 12px;
    padding-top: 3px;
    padding-bottom: 6px;
    padding-left: 3px;
}
.first_li h3{
    font-size: 16px;
    color: #fffe7f;
    line-height: 16px;
    padding-bottom: 3px;
    text-align: center;
}
.first_li h4,.second_li h4,.third_li h4{
    font-size: 14px;
    color: #ebebed;
    line-height: 14px;
    text-align: center;
    padding-top: 24px;
}
.sheng{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #00b3fe;
    margin-bottom: 9px;
}
.second_chart{
    margin-top: 35px;
    height:110px;
}
.second_li h4,.third_li h4{
    padding-top:17px;
}
.right_con_two{
    margin-top: 11px;
}
.two_con_char{
    height:185px;
}
/* 尾部 */
footer{
    margin-top: 8px;
    margin-bottom:8px;
    width:100%;
    height:52px;
    background: #062045;
    overflow: hidden;
}
.foot_left{
    width:30.6%;
    float: left;
    overflow: hidden;
}
.foot_middle{
    width:39.2%;
    float: left;
}
.foot_right{
    float: left;
    width:30.2%;
}
.foot_left_one,.foot_left_two,.foot_left_three,.foot_left_four{
    float: left;
}
.foot_left_one{
    width:11%;
}
.foot_left_one img{
    width:84%;
    padding-top: 4px;
}
.foot_left_two{
    width:22%;
    padding-top: 3px;
    margin-right: 6px;
}
.foot_left_two a{
    display: inline-block;
    width:100%;
    height:45px;
    background: #052d6a;
    border:1px solid #00b3fe;
}
.foot_left_two a img{
    width:28%;
    padding-left: 9px;
    padding-right: 7px;
    padding-top: 11px;
    vertical-align: sub;
}
.foot_left_two a span{
    display: inline-block;
    font-size: 16px;
    color:#fff;
}
.foot_left_three{
    width:4%;
    padding-top: 3px;
    margin-right: 4px;
}
.foot_left_three span{
    display: inline-block;
    width:12%;
    height:49px;
    background:#00b3fe;
}
.foot_left_four{
    width:60%;
    margin-top: 3px;
    background: url(../img/img7.png) no-repeat;
    background-size: 100% 100%;
}
.foot_left_four h3{
    font-size:10px;
    color:#f5f6f8;
    line-height:10px;
    padding-top: 7px;
    padding-bottom: 3px;
    padding-left: 12px;
}
.foot_left_four p{
    font-size: 14px;
    color:#06fff9;
    line-height:14px;
    padding-top: 6px;
    padding-left: 12px;
    padding-bottom: 8px;
}
.foot_middle h2{
    display: inline-block;
    font-size: 20px;
    color:#00b4fe;
    line-height: 52px;
    text-align: center;
}
.foot_middle img{
    vertical-align: super;
}
.foot_middle_con{
    width:73%;
    margin:0 auto;
}
.foot_right .foot_left_four{
    background: url(../img/img8.png) no-repeat;
}
.foot_right .foot_left_four h3{
    text-align: right;
    padding-left: 0;
    padding-right: 12px;
}
.foot_right .foot_left_four p{
    text-align: right;
    padding-left: 0;
    padding-right: 12px;
}
